/* ========================================================================
  #Aliases
  ======================================================================== */

/**
  * Aliases to provide shorthand scripts for refining SASS code 
  */


//Shorthand spacing-unit


//Extra small spacing
$xs    :   $msd-spacing-unit-xs;
//Small spacing
$sm    :   $msd-spacing-unit-sm;
//Default spacing
$null  :   $msd-spacing;
//Medium spacing
$md    :   $msd-spacing-unit-md;
//Large spacing
$lg    :   $msd-spacing-unit-lg;
//Extra large spacing
$xl    :   $msd-spacing-unit-xl;

//Layout spacing
$msd-enable-layout--middle:   false !default;
$msd-enable-layout--bottom:   false !default;
$msd-enable-layout--right:    false !default;
$msd-enable-layout--center:   false !default;
$msd-enable-layout--auto:     false !default;


