/* ========================================================================
  #Border Radius
  ======================================================================== */

/**
  * Provides a concise, one-line method for setting `border-radius` on both 
  * the top-left & top-right, top-right & bottom-right, bottom-left &  
  * bottom-right and top-left & bottom-left of a box.
  *
  * MSD standard Border-radius (top, right, bottom, left) reference 
  * within _./settings/global.scss
  * 
  * .example {
  *    @include border-top-radius(4px);
  *  }
  *
  */

   //Border top radius
   @mixin border-top-radius($radii) {
    border-top-left-radius: $radii;
    border-top-right-radius: $radii;
  }
  

   //Border right radius
  @mixin border-right-radius($radii) {
    border-bottom-right-radius: $radii;
    border-top-right-radius: $radii;
  }
  

  //Border bottom radius
  @mixin border-bottom-radius($radii) {
    border-bottom-left-radius: $radii;
    border-bottom-right-radius: $radii;
  }
 

  //Border left radius
  @mixin border-left-radius($radii) {
    border-bottom-left-radius: $radii;
    border-top-left-radius: $radii;
  }

  //Border all radius
  @mixin border-radius($radii) {
   border-bottom-left-radius: $radii;
   border-top-left-radius: $radii;
 }
  
