/* ========================================================================
   #Clearfix
   ======================================================================== */

/**
 * Mixin to use clearfix as a selector. 
 * 
 *
 * Reference: https://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 *
 * .example {
 *   @include msd-clearfix();
 * }
 *
 */ 


@mixin msd-clearfix() {

  &:after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }

}

