/* ==========================================================================
   #Spacings
   ========================================================================== */

/*
 * Specific spacing values for elements. Spacing base values are in 
 * ./core/settings.scss
 *
 * Reference: https://css-tricks.com/magic-numbers-in-css/
 *
 *   .msd-m {}      =  .msd-margin {}
 *   .msd-mt {}     =  .msd-margin-top {}
 *   .msd-pl-lg {}  =  .msd-padding-left-large {}
 *   .msd-mr-sm {}  =  .msd-margin-right-small {}
 *   .msd-p {}      =  .msd-padding {}
 *   .msd-pr-nil {} =  .msd-padding-right-none {}
 *   .msd-ph {}     =  .msd-padding-horizontal {}
 *   .msd-pv-sm {}  =  .msd-padding-vertical-small {}
 *
 *   e.g.
 *
 *   <div class="msd-pt-lg"></div>
 *
 *   Will render as:
 *
 *   .msd-pt-lg{
 *       padding-top: 3.0em;
 *    }
 *  
 *
 *   When adding elements to classes:
 *
 *  .example {
 *     padding: $xs $lg 0 $xs;
 *   }
 *    
 *   Will render as:
 *
 *   .example {
 *     padding: .375em 3.0em 0 .750em;
 *    }
 *   
 */

 
 //Generate a suite of shorthand classes:
 $msd-spacing-directions: (
  null: null,
  "t": "-top",
  "r": "-right",
  "b": "-bottom",
  "l": "-left",
  "h": "-left" "-right",
  "v": "-top" "-bottom",
) !default;

$msd-spacing-properties: (
  "p": "padding",
  "m": "margin",
) !default;

$msd-spacing-sizes: (
  "-xs"    :   $xs,
  "-sm"    :   $sm,
  "-sp"    :   $sp,
  "-md"    :   $md,
  "-lg"    :   $lg,
  "-xl"    :   $xl,  
  "-xxl"   :   $xxl,
  "-flush" :   0
) !default;

@each $property-namespace, $property in $msd-spacing-properties {

  @each $direction-namespace, $direction-rules in $msd-spacing-directions {

    @each $size-namespace, $size in $msd-spacing-sizes {

      .msd-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size;
        }

      }

    }

  }

}

