/* ==========================================================================
   #Blockquote
   ========================================================================== */

/**
  * Default styling for inline-quotes and quotes, adjust colours within 
  * ./tools/colors. Settings line :50
  *
  * Reference: 
  * https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
  *
  */

  @mixin msd-blockquote($msd-quote: "\2014") {
    background-color: colour(govnz-light-grey);
    border-left: 10px solid colour(govnz-dark-grey);
    @include font(blockquote, bold);
    @include font-size(20px);
    margin: $md 0;
    padding: $md;
    quotes: "\201C""\201D""\2018""\2019";
    text-indent: $msd-quote-width;

      &::before {
        color: colour(govnz-dark-grey);
        content: open-quote;
        font-size: 4em;
        line-height: .1em;
        margin-right: .15em;
        vertical-align: -.5em;
      }
  
     p {
      display: inline;
  
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  
    + figcaption {
  
      &::before {
        content: $msd-quote;
      }

    }
  
  }
  
// Blockquotes
blockquote {
  color: colour(govnz-slate);
  @include msd-blockquote();
  @include border-top-radius(1rem);
}


// Inline quotes.
q {
  quotes: "\2018" "\2019" "#{$msd-open-quote}" "#{$msd-close-quote}";

  &::before {
    content: "\2018";
    content: open-quote;
  }

  &::after {
    content: "\2019";
    content: close-quote;
  }

  q {

    &::before {
      content: "\201c";
      content: open-quote;
    }

    &::after {
      content: "\201d";
      content: close-quote;
    }
  }
}