/* ========================================================================
  #Colour palette
  ======================================================================== */
 
 /**
 *  Global representation for the given colour, where colour(colour-name) is 
 *  the friendly name for the colour;
 * 
 * .example {
 *   background-color: colour(msd-brand);
 *   color: colour(govnz-white, .95);
 * }
 *
 */



// Main Colour tokens
$colour-map: (

    //Core govt colours
    govnz-black              :           #000000, 
    govnz-dark-grey          :           #363636,  
    govnz-white              :           #FFFFFF,  

    //Grey suite
    govnz-off-white          :           #F4F4F4,  
    govnz-light-grey         :           #D3D3D3, 
    govnz-mid-grey           :           #595959,  
    govnz-slate              :           #2A2A2A,  

    //MSD text colours
    msd-text                 :           #2A2A2A,  
    msd-secondary-text       :           #595959,  

    //Alerts
    govnz-error              :           #B10E1E,  
    govnz-warning            :           #D47500,  
    govnz-success            :           #088A20,  
    govnz-info               :           #1F1BFB,  
    govnz-disabled           :           #AAAAAA,  

    //Interaction states
    govnz-link               :           #005DBB,  
    govnz-link-visited       :           #4C2C92,  
    govnz-link-hover         :           #000C48,  
    govnz-link-active        :           #0B0C0C,  
    govnz-focus              :           #B53CDE, 
    msd-focus                :           #FFDD00, 

    //Social Media
    linkedIn                 :           #0077B5,  
    facebook                 :           #3b5998,  
    twitter                  :           #55acee,  
    youtube                  :           #FF0000,  

    //Branding Colours

    //MSD primary
    msd-brand                :           #121F6B,  

    //MSD secondary 
    msd-blue                 :           #005688, 
    msd-teal                 :           #005b62,  
    msd-green                :           #3C691E,  
    msd-tangerine            :           #F6A145,  
    msd-red-brick            :           #B32A17,  
    msd-red                  :           #A11922,  
    msd-fuschia              :           #9A1745,  
    msd-indigo               :           #7F366A,    
    
    //Codeview
    code-view           :           #090a0b,
    code-title          :           #f8f8f2,
    class               :           #7bcc7b,  
    class-value         :           #7bcc7b, 
    highlight           :           #ee9912,
    value-color         :           #dda0dd,
       
) !default;