/* ==========================================================================
   #Headings
   ========================================================================== */

 /**
  * Default and opinionated styles for headings 1 to 6. 
  * 
  * Reference: 
  * https://www.smashingmagazine.com/2013/05/typographic-design-patterns-practices-case-study-2013/#average-font-size-for-headlines
  *
  * 
  * All heading font sizes are defined here. Passing these pixel values into
  * the `msd-font-size()` mixin will generate a rem-based `font-size` with a
  * pixel fallback, as well as generating a `line-height` that  will sit on 
  * the baseline grid.
  *
  */

  $msd-h1-size: 36px !default;
  $msd-h2-size: 30px !default;
  $msd-h3-size: 24px !default;
  $msd-h4-size: 20px !default;
  $msd-h5-size: 16px !default;
  $msd-h6-size: 14px !default;


// Default styles
  h1 {
    @include font-size(36px);
  }

  h2 {
    @include font-size(30px);
  }

  h3 {
    @include font-size(24px);
  }

  h4 {
    @include font-size(20px);
  }

  h5 {
    @include font-size(16px);
  }

  h6 {
    @include font-size(14px);
  }




// Opinionated styles
 .msd-h1 {
  @include font-size(45px);
 }

.msd-h2 {
  @include font-size(32px);
}

.msd-h3 {
  @include font-size(25px);
}

.msd-h4 {
  font-size: 20px;
}

.msd-h5 {
  font-size: 18px;
}

.msd-h6 {
  font-size: 16px;
}


// Provide additional spacing when placed after other elements
  * + h1,
  * + .msd-h1,
  * + h2,
  * + .msd-h2,
  * + h3,
  * + .msd-h3,
  * + h4,
  * + .msd-h4,
  * + h5,
  * + .msd-h5,
  * + h6,
  * + .msd-h6 {
    margin-top: $lg;
  }
  


