/* ========================================================================
   #GLOBAL
   ======================================================================== */

/**
 * The global settings contains any site wide variables and elements that
 * affect the entire codebase.
 * 
 */   



// Standardise UI treatments.

$msd-radius: .125rem !default;
$msd-transition: all .25s ease-in-out !default;
$msd-spacing: 1rem !default; //alias = $null
$msd-hr-spacing: 1.625rem !default;











