/* ==========================================================================
   #Widths
   ========================================================================== */

/**
 * Sizes in human readable format. These are used in conjunction with Sass 
 * media queries via ./tools/media-queries.scss.
 *
 * Also working in unison with ./objects/flexbox.scss
 */


/**
 * Whole
 */
.msd-grid--one-whole {
  width: 100%;
}

/**
 * Halves
 */
.msd-grid--one-half, .msd-grid--two-quarters, .msd-grid--three-sixths, .msd-grid--four-eighths, .msd-grid--five-tenths, .msd-grid--six-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 50%;
  }

}

/**
 * Thirds
 */
.msd-grid--one-third, .msd-grid--two-sixths, .msd-grid--four-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 33.333%;
  }

}

.msd-grid--two-thirds, .msd-grid--four-sixths, .msd-grid--eight-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 66.666%;
  }

}

/**
 * Quarters
 */
.msd-grid--one-quarter, .msd-grid--two-eighths, .msd-grid--three-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 25%;
  }
}

.msd-grid--three-quarters, .msd-grid--six-eighths, .msd-grid--nine-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 75%;
  }
}

/**
 * Fifths
 */
.msd-grid--one-fifth, .msd-grid--two-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 20%;
  }
}

.msd-grid--two-fifths, .msd-grid--four-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 40%;
  }
}

.msd-grid--three-fifths, .msd-grid--six-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 60%;
  }
}

.msd-grid--four-fifths, .msd-grid--eight-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 80%;
  }
}

/**
 * Sixths
 */
.msd-grid--one-sixth, .msd-grid--two-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 16.666%;
  }
}

.msd-grid--five-sixths, .msd-grid--ten-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 83.333%;
  }
}

/**
 * Eighths
 */
.msd-grid--one-eighth {
  width: 100%;

  @include mq($from: tablet) {
    width: 12.5%;
  }
}

.msd-grid--three-eighths {
  width: 100%;

  @include mq($from: tablet) {
    width: 37.5%;
  }
}

.msd-grid--five-eighths {
  width: 100%;

  @include mq($from: tablet) {
    width: 62.5%;
  }
}

.msd-grid--seven-eighths {
  width: 100%;

  @include mq($from: tablet) {
    width: 87.5%;
  }

}

/**
 * Tenths
 */
.msd-grid--one-tenth {
  width: 100%;

  @include mq($from: tablet) {
    width: 10%;
  }

}

.msd-grid--three-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 30%;
  };
}

.msd-grid--seven-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 70%;
  }
}

.msd-grid--nine-tenths {
  width: 100%;

  @include mq($from: tablet) {
    width: 90%;
  }
}

/**
 * Twelfths
 */
.msd-grid--one-twelfth {
  width: 100%;

  @include mq($from: tablet) {
    width: 8.333%;
  }
}

.msd-grid--five-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 41.666%;
  }
}

.msd-grid--6seven-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 58.333%;
  }
}

.msd-grid--eleven-twelfths {
  width: 100%;

  @include mq($from: tablet) {
    width: 91.666%;
  }
}




