/* ========================================================================
  #Body
  ======================================================================== */

/**
 * Standard body and main content settings as per project
 * 
 */

body {
  background-color: color(govnz-white);
  color: color(govnz-slate);
  @include font(primary, medium);
  padding: 0;
}

// page wrapper
.msd-pane {
  overflow-x: hidden;
}

// <main> container
.main-container {
  padding-bottom: $null;
  min-height: 35vh;
}

// <main> content
.main-container__content {
  margin-top: $md;
  
  @include mq($from: desktop ) {
    margin-top: $xl;
  } 

}












  
