/* ==========================================================================
   #Card
   ========================================================================== */

/**
 * The card object gives control over the vertical alignments of the text and 
 * image.
 *
 *
 * 1. Forces equal cell heights,
 * 2. Creates gaps
 * 3. prevents background bleed.
 */

 // Prevents irregular margin behaviour in Chrome 
.msd-card--wrapper {
  overflow: hidden;
}
 
.msd-card-list {
  border-spacing: 0; 
  list-style: none;
  margin: -$null; 
  padding: $null 0 $xl $null;
  display: flex;  /* [1] */
  flex-wrap: wrap; /* [1] */
  position: relative;

  @include mq($from: phablet) {
    // margin: $null 0; 
  }
  
}
  
//Card
.msd-card {
  background-clip: padding-box; /* [3] */
  border: 0 solid transparent; /* [2] */
  border-width: 0 20px 20px 0; /* [2] */
  box-shadow: inset 0 0 0 1px colour(govnz-mid-grey);
  margin: 1px 0 0;
  padding: $xs $xs 0;
  position: relative;
  width: calc(100% / 1);

  @include mq($from: phablet) {
    width: calc(100% / 2); 
  }

  @include mq($from: tablet) {
    width: calc(100% / 3);
  }

  &:hover {
    box-shadow: inset 0 0 0 3px colour(govnz-link-hover);
    
    .msd-card--image .msd-icon {
      color: colour(govnz-link-hover);
    }
    
  }

}


//Image
.msd-card--image {
  display: flex;
  justify-content: center;
  margin-bottom: $xs;
  margin-top: $null;
  position: relative;

  @include mq($from: tablet) {
    margin-bottom: $xs;
  }

}

.msd-card--image > * {
  display: block;
  max-width: 100%;
}


//Title
.msd-card--title {
  @include font(primary, bold);
  @include font-size(20px);
  margin: $sm $null $xs;
}


//Content
.msd-card--content {
  flex-grow: 1;
  justify-content: space-between;
  margin-top: $sm;
  padding: 0;

  & > *:nth-last-child(2) {
    margin-top: $xs;
    margin-bottom: auto;
  } 

}

.msd-card--centre-align {
  text-align: center;
} 

.msd-card--text {
  color: colour(govnz-slate);
  font-size: $sp;
  font-weight: normal;
  line-height: 1.5;
  margin: $md $null $lg;
  max-width: 65ch;
}

.msd-card--link {
  border-bottom: 2px solid colour(govnz-link);
  color: colour(govnz-link);
  @include font-size(20px);
  margin-top: 1.5rem;
  padding-bottom: .125vh;
  text-decoration: none;

  &:hover:not(:focus) {
    border-bottom: 3px solid colour(govnz-link-hover);
    color: colour(govnz-link-hover);
    outline: none;
  }

  //Full card selection
    &:after {
      bottom: 0; 
      content:'';
      left:0;
      position: absolute;
      right:0;
      top: 0;
    }
  
}