/* ==========================================================================
   #Page Header
   ========================================================================== */

.msd-header {
    background-color: color(msd-brand);
    margin: 0;
    padding: $null 0 0;
    position: relative;
    z-index: z(header);
}

.msd-header__divider {
    border: none;
    padding-bottom: $null;

    @include mq($from: tablet) {
      border-bottom: 1px solid color(govnz-off-white);
   }
}               

.msd-header__logotype {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;

  @include mq($from: mobile) {
    align-items: center;
    flex-direction: row;
  }

}

.msd-header__site-logo {
  align-items: center;
  display: inline-flex;
  margin: 0;
  text-decoration: none;
}

.msd-header__site-logo:focus {
  background-color: color(msd-focus);
  color: color(govnz-link-active);
  box-shadow: 0 -2px color(msd-focus), 0 4px color(govnz-link-active);
  outline: 3px solid transparent;
  padding: 0;
  text-decoration: none;

  .msd-icon__msd-logo {
    color: color(govnz-link-active);
  }

}

.msd-header__product-name {
  color: color(govnz-white);
  font-size: calc(16px + (22 - 16) * ((100vw - 250px) / (1800 - 250)));
  font-weight: 500;
  line-height: 1.5;
  margin: $sm 0;

  @include mq($from: mobile) {
    margin-left: $md;
  }
  
}

