/* ==========================================================================
   #Page Footer
   ========================================================================== */

.msd-footer {
    background-color: colour(govnz-dark-grey);
    padding: $lg 0 $null;
    position: relative;
    z-index: z(footer);
}

.msd-footer__small-text {
    color: colour(govnz-white);
    font-size: $sm;
    margin-bottom: $sp;
    @include font(primary, regular);

     // External icon size
     .msd-footer__link--external::after {
        left: 0;
        top: 1px;
        width: $sm;
    }
}

.msd-footer__logotype {
    align-items: center;
    display: inline-flex;
    margin: 0;
    text-decoration: none;

    @include mq($from: mobile) {
      margin: 0 0 $xs;
    } 

}

//NZ gov logo
.msd-footer__logotype--nz-govt-logo {
    color: colour(govnz-white);
    display: flex;
    flex-direction: column;
    font-size: $sm;
    text-decoration: none;

    &:hover:not(:focus) {
      background-color: transparent;
      box-shadow: none;
      color: colour(govnz-off-white);
      outline: 3px solid transparent;
      padding: 0;
      text-decoration: none;
    } 

    &:focus:not(:hover) {
      background-color: colour(msd-focus);
      box-shadow: 0 -2px colour(msd-focus),0 4px colour(govnz-link-active);
      color: colour(govnz-link-active);
      outline: 3px solid transparent;
      padding: 0;
      text-decoration: none;
    }
    
}





//list
.msd-footer__list {
    display: flex;
    flex-direction: column;
    margin: $md 0;
    padding: 0;

    @include mq($from: mobile) {
        flex-direction: row;
        justify-content: flex-start;
      }

    @include mq($from: tablet) {
      justify-content: flex-end;
    } 

}

.msd-footer__list-item {
    display: inline-flex;
    margin: $xs 0;
    padding: $sm 0; 
    transition: $msd-transition;

    &:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    &:last-child {
        margin-right: 0;
        padding-right: 0;
    }

    @include mq($from: mobile) {
        margin: $xs $null;
    }   
    
    @include mq($from: desktop) {
        margin: $xs $null;
        padding: $sm; 
    }

}



//links
.msd-footer__nz-govt--link {
    color: colour(govnz-white);
    font-family: arial;
    text-decoration: none;
    position: absolute;
    left: 1rem;
    bottom: -$xs;
    font-size: $sm;
    left: $sm;
}

.msd-footer__link {
    @include font-size(16px);
    @include font(primary, regular);
    @include linkColours ((colour(govnz-off-white)), (colour(govnz-off-white)), 
    (colour(govnz-white)), (colour(govnz-white)));
    border-bottom-color: transparent;

    &:hover:not(:focus) {
      border-bottom-width: 2px;
    }
}

// External links 
// base64 format used as background image
.msd-footer__link--external {

  &::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 576 512'%3E%3Cpath fill='%23D3D3D3' d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 00384 303.765V448H64V128h264a24.003 24.003 0 0016.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z'/%3E%3C/svg%3E");
    display: inline-flex;
    left: 4px;
    position: relative;
    top: 1px;
    width: 1rem;

    //Windows High contrast mode
    @media (-ms-high-contrast: active) and (forced-colors: active) {
      filter: invert(0%) sepia(120%) saturate(5000%) hue-rotate(50deg) brightness(815%) contrast(125%);
    }
      
  }

  &:hover:not(:focus)::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 576 512'%3E%3Cpath fill='%23FFF' d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 00384 303.765V448H64V128h264a24.003 24.003 0 0016.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z'/%3E%3C/svg%3E");
    }

    &:focus:not(:hover)::after {
        content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 576 512'%3E%3Cpath fill='%230B0C0C' d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 00384 303.765V448H64V128h264a24.003 24.003 0 0016.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z'/%3E%3C/svg%3E");
    }

}





//copyright
.msd-footer__copyright {
    color: colour(govnz-off-white);
    margin-top: $lg;
    text-decoration: none;

    &:hover:not(:focus) {
        color: colour(govnz-white);
    }
}

.msd-footer__copyright--logo {
    color: colour(govnz-off-white);
    margin: $xs $null $md 0;
    align-items: center;
    display: inline-flex;
    text-decoration: none;

    &:focus:not(:hover) {
        background-color: colour(msd-focus);
        box-shadow: 0 -2px colour(msd-focus),0 4px colour(govnz-link-active);
        color: colour(govnz-slate);
        outline: 3px solid transparent;
        padding: 0;
        text-decoration: none;
    }

    &:hover:not(:focus) {
        color: colour(govnz-white);
    }

    @include mq($from: mobile) {
        margin: 0 0 $null 0;
    }

}

.msd-icon__creative-commons {
  margin: .25rem 0;
}

.msd-footer__copyright--item {
    text-decoration: none;
    display: flex;
    margin-bottom: $xs;
}

