/* ==========================================================================
   #Pagination
   ========================================================================== */

   .msd-pane__pagination {
      display: inline-flex;
      justify-content: flex-start;
   }

   .msd-pagination {
     display: flex;
     margin: 0;
     padding: 0;
   }
   
   .msd-pagination__section {
     display: flex;
     margin: 0;
     padding: 0;

     &.disabled {
      display: none;
    }

   }

   .msd-pagination__section--item {
     border-bottom-color: transparent;
     font-size: $md;
     line-height: 1.5;

     & + .msd-pagination__section--item {
       padding-left: $md;
     }
   }

   .msd-pagination__link {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      color: color(msd-text);
      font-size: 1.125rem;
      line-height: 1.5;
      margin: 0 .275rem;
      padding: 0 $sm;
      text-align: center;
      text-decoration: none;

      &:nth-of-type(-n+2) {
        margin-left: 0;
      }

      &:focus {
        background-color: color(msd-focus);
        border-bottom: 2px solid transparent;
        box-shadow: 0 -2px color(msd-focus),0 4px color(govnz-link-active);
        color: color(govnz-link-active);
        outline: 3px solid transparent;

        & .msd-pagination__value,
        & .msd-pagination__next--page, 
        & .msd-pagination__previous--page {
          border-bottom: 2px solid transparent;
          color: color(govnz-link-active);
        }

      }

      //Current link
      &[aria-current] {
        font-weight: bold;
      }

   }

  .msd-pagination__value {
    border-bottom: 2px solid color(govnz-link);
    color: color(govnz-link);

    &:hover:not(:focus) {
      border-bottom: 2px solid color(govnz-link-active);
      color: color(govnz-link-active);
    }

  }

  //Previous, next
  .msd-pagination__previous, 
  .msd-pagination__next {
    padding: 0 $sm;
    position: relative;
    text-decoration: none;
  }

  .msd-pagination__previous {
      margin-left: $null;
  }

  .msd-pagination__previous--page {
    border-bottom: 2px solid color(govnz-link);
    color: color(govnz-link);
    font-size: $md;
    position: relative;

    &:not(:focus):hover {
      border-bottom: 2px solid color(govnz-link-hover);
      color: color(govnz-link-hover);
    }

    &:after {
      color: color(msd-text);
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23005dbb' d='M5.2 11.9c0-.4.2-.9.5-1.2L15.9.6c.7-.7 1.7-.7 2.4 0s.7 1.7 0 2.4l-9.1 9 9.1 9.1c.7.7.7 1.7 0 2.4s-1.7.7-2.4 0L5.7 13.1c-.3-.3-.5-.8-.5-1.2z'/%3E%3C/svg%3E");
      height: 1.1rem;
      margin-left: -$sm;
      position: absolute;
      left: -15px;
      top: 0;
      width: 1.1rem;
    }

    &:not(:focus):hover::after {
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000c48' d='M5.2 11.9c0-.4.2-.9.5-1.2L15.9.6c.7-.7 1.7-.7 2.4 0s.7 1.7 0 2.4l-9.1 9 9.1 9.1c.7.7.7 1.7 0 2.4s-1.7.7-2.4 0L5.7 13.1c-.3-.3-.5-.8-.5-1.2z'/%3E%3C/svg%3E");
    }

    &.disabled {
      display: none;
    }

  }

  .msd-pagination__next--page {
    border-bottom: 2px solid color(govnz-link);
    color: color(govnz-link);
    font-size: $md;
    position: relative;

    &:not(:focus):hover {
      border-bottom: 2px solid color(govnz-link-hover);
      color: color(govnz-link-hover);
    }

    &:after {
      color: color(msd-text);
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23005dbb' d='M20 13.1L9.8 23.5c-.7.7-1.7.7-2.4 0s-.7-1.7 0-2.4l9.1-9.1-9.1-9c-.7-.7-.7-1.7 0-2.4s1.7-.7 2.4 0L20 10.8c.3.3.5.8.5 1.2s-.2.8-.5 1.1z'/%3E%3C/svg%3E");
      height: 1.1rem;
      margin-left: -$sm;
      position: absolute;
      right: -25px;
      top: 0;
      width: 1.1rem;
    }

    &:not(:focus):hover::after {
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000C48' d='M20 13.1L9.8 23.5c-.7.7-1.7.7-2.4 0s-.7-1.7 0-2.4l9.1-9.1-9.1-9c-.7-.7-.7-1.7 0-2.4s1.7-.7 2.4 0L20 10.8c.3.3.5.8.5 1.2s-.2.8-.5 1.1z'/%3E%3C/svg%3E");
    }

    &.disabled {
      display: none;
    }
    
  }







 
  

