/* ==========================================================================
   #Primary navigation
   ========================================================================== */

 /**
  *  Default navigation, current link referenced via 'aria'current' line :221
  *
  *  An additional link is added to mobile view to avoid Split navigation:
  *  https://www.nngroup.com/articles/split-buttons-navigation/
  * 
  *
  */


// Mobile Navigation Button 
.msd-navigation__toggle--wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: $sm;

  @include mq($from: tablet) {
    display: none;
  }

}

.msd-navigation__toggle {
  background-color: colour(msd-brand);
  border: 1px solid colour(govnz-white);
  border-radius: 0;
  box-shadow: none;
  color: colour(govnz-white);
  cursor: pointer;
  line-height: 1.4;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0.75rem;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 75px;
  z-index: z(overlay);

  &:active:focus:not(:hover),
  &:focus:not(:hover),
  &:hover:not(:focus):focus:not(:hover) {
    box-shadow: inset 0 0 0 3px colour(govnz-link-active);
    outline: 3px solid colour(msd-focus);
    outline-offset: 0;
    border-color: colour(govnz-link-active);
    border-width: 1px;
  }

}

// Primary navigation
.msd-navigation {
  background-color: colour(govnz-off-white);
  display: none;
  @include font-size(18px);
  position: relative;
  width: 100%;
  z-index: z(overlay);

  &.active {
    display: block;
  }

  @include mq($from: tablet) {
    background-color: colour(msd-brand);
    display: block;
    @include font-size(16px);
    position: static;
    width: 100%;
  }

  @include mq($from: tablet-wide) {
    @include font-size(18px);
  }

}

.msd-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: 1px solid colour(govnz-light-grey);

  @include mq($from: tablet) {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }

  @include mq($from: desktop) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

}

.msd-navigation__list-item {
  border-bottom: none;
  padding: 0;  
  position: relative;

  //hide last bottom-border
  &:last-of-type .msd-navigation__mobile-toggle:after {
    display: none;
  }


  //expand secondary navigation in mobile
  &.active > .msd-navigation__level-two {
    display: block;
  
    @include mq($from: tablet) {
      margin-left: 0;
    }
  
  }


  @include mq($from: tablet) {
    display: flex;
    padding: 0;  
    margin: 0 $xs;

    //underline
    &:after {
      content: "";
      position: absolute;
      bottom: -1px;
      top: auto;
      left: 0;
      height: 8px;
      background-color: transparent;
      z-index: z(modal);
      width: 100%;
      transition: all 0s ease;
      transition-delay: .25s;
    }

    //underline:hover 
    &.js-focus:after,
    &:not(:focus):hover:after {
      background-color: colour(govnz-white);
    }

    //current page
    &[aria-current="page"] {
      box-shadow: inset 0 -7px 0 0 colour(govnz-white);
    }

    &:not(:focus):hover > .msd-navigation-link:after,
    &.js-focus > .msd-navigation-link:after {
      left: 0;
    }

    &:not(:focus):hover > .msd-navigation__level-two,
    &.js-focus > .msd-navigation__level-two {
        left: 0;
        visibility: visible;
    }

    &:last-child:hover .msd-navigation__level-two,
    &:last-child.js-focus .msd-navigation__level-two {
        right: 0;
        left: auto;
    }

    &.js-focus .msd-navigation-sr-expand__wrapper .msd-navigation-sr-expand__btn:focus::after {
      top: 4px;
       transform: rotate(225deg);
    } 

  }

}

.msd-navigation__level-one {

  > .msd-navigation__list-item:first-of-type {
    margin-left: 0;
  }  
  
  > .msd-navigation__list-item:last-of-type {
    margin-right: 0;
  }
} 

.msd-navigation-link {
  border-bottom: 2px solid transparent;
  display: none;
  color: colour(govnz-slate);
  margin: 0 $md;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include mq($from: tablet) {
    color: colour(govnz-white);
    display: inline;
    padding: 0;
    position: relative;
    margin: $null 0;
    text-align: center;

    &:active, 
    &:visited,
    &:not(:focus):hover {
      border-bottom: 2px solid transparent;
      color: colour(govnz-white);
      outline: none;
      text-decoration: none;
    }
  }

}

.msd-navigation__level-two {
  display: none;
  background-color: colour(govnz-white);
  border-top: 1px solid colour(govnz-light-grey);
  border-bottom: 1px solid colour(govnz-light-grey);
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include mq($from: tablet) {
    border-bottom: 5px solid colour(msd-blue );
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    display: block;
    left: -9999em;
    margin: 0;
    padding: $md $xs;
    position: absolute;
    top: 100%;
    transition: all 0s ease;
    transition-delay: 0.25s;
    visibility: hidden;
    width: 280px;
    z-index: z(overlay);
  }

  @include mq($from: desktop) {
    padding: $sm $md;
    width: 320px;
  }

  .msd-navigation__list-item {
     margin: 2.0rem $null 2.0rem 3.5rem;

    @include mq($from: tablet) {
      margin: 0;
    }
  }

}

//Mobile toggle button
.msd-navigation__mobile-toggle {
  background: colour(govnz-off-white);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  margin: 0 $null;
  padding: 1.5rem 0;
  position: relative;
  width: calc(100% - 2rem);

  .msd-h3 {
    font-weight: 500;
    margin-bottom: 0;
    margin-left: $xl;
  }

  &:after {
    background-color: #d3d3d3;
    content: " ";
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
  }

  //Hide border when dropdown open
  &[aria-expanded="true"]::after {
    display: none;
  }


  &:before {
    border-top: 3px solid colour(govnz-slate);
    border-right: 3px solid colour(govnz-slate);
    content: "";
    height: $sm;
    left: $sm;
    margin-top: -.025rem;
    pointer-events: none;
    position: absolute;
    top: 35%;
    transform: rotate(135deg) translateY(-50%);
    width: $sm;
  }

   &[aria-expanded="true"]::before {
    transform: rotate(315deg) translate(-35%,75%);
  }

  &:focus-visible {
    outline: 0;
  }

  &:active:focus:not(:hover) .msd-h3,
  &:active:focus-within:not(:hover) .msd-h3, 
  &:focus:not(:hover) span,
  &:focus-within:not(:hover) .msd-h3 {
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    color: #0b0c0c;
    outline: 3px solid transparent;
    text-decoration: none;
  }

  @include mq($from: tablet) {
    display: none;
  }

}

//Navigation links
.msd-navigation__list-link {
  border-bottom-color: transparent;
  color: colour(govnz-link);
  display: flex;
  margin: $sm;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:focus-within:not(:hover),
  &:focus {
    outline: 0;
  } 

  // Title within span to avoid full-width underline 
  .msd-navigation__list-title {
    border-bottom: 2px solid transparent;
    color: colour(govnz-link);
  }


    &:not(:focus):hover {
      border-bottom-color: transparent;
      color: colour(govnz-link-hover);
  
       span {
        border-bottom-color: colour(govnz-link);
         border-bottom-width: 2px;
       }
    }

    &:not(:hover):focus span {
      background-color: colour(msd-focus);
      box-shadow: 0 -2px colour(msd-focus), 0 4px colour(govnz-link-active);
      color: colour(govnz-link-active);
      outline: 3px solid transparent;
      text-decoration: none;
    }

}

//Mobile view only links
.msd-navigation__mobile-link {
  display: block;

  @include mq($from: tablet) {
    display: none;
  }

}

//Desktop dropdown menu keyboard access
.msd-navigation-sr-expand__wrapper {
  display: none;

  @include mq($from: tablet) {
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 0;
  }

}
.msd-navigation-sr-expand__btn {

  @include mq($from: tablet) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:focus {
        background: colour(msd-brand);
        border: none;
        border-radius: 0;
        box-shadow: inset 0 0 0 4px colour(msd-brand);
        clip: auto;
        height: 14px;
        margin: 0;
        overflow: visible;
        position: absolute;
        outline: 2px solid colour(msd-focus);
        padding: 0;
        right: -18px;
        top: 40%;
        transition: right .25s ease-in-out;
        width: 14px;

        &::after {
          content: "";
          border-right: 2px solid colour(govnz-white);
          border-bottom: 2px solid colour(govnz-white);
          height: 10px;
          left: 2px;
          position: absolute;
          top: -1px;
          transform: rotate(45deg);
          width: 10px;
        }

    }
  }

  @include mq($from: desktop) {

    &:focus {
      right: -25px;
    }

  }


}







