/* ==========================================================================
   #Search
   ========================================================================== */

  /**
   * Search input value is set to accomodate the standard user query length - 
   *  typically about 27 characters 
   *
   *
   * ref: https://www.algolia.com/blog/3-key-ux-design-elements-of-the-search-bar/
   *
   * Search results - :115
   */
   
.msd-search__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  margin: $xs 0;
  width: 100%;

  @include mq($from: tablet) {
    justify-content: flex-end;
    margin: 0;
  }
  
}

.msd-search[role=search],
.msd-search-listing[role=search] {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: z(header);

  @include mq($from: mobile-wide) {
    width: auto;
  }

}

.msd-search__item,
.msd-search-listing__item {
  background-color: color(govnz-white);
  border: 1px solid color(govnz-mid-grey);
  display: flex;
  width: 100%;

  @include mq($from: mobile-wide) {
    width: auto;
  }

}

.msd-search__label {
  width: 100%;
}

.msd-search__input,
.msd-search-listing__input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  color: color(govnz-slate);
  line-height: 22px;
  margin-bottom: 0;
  padding: $sm $xs $sm $sm;
  width: 100%;

  @include mq($from: mobile-wide) {
    width: 27ch;
  }

  @include mq($from: tablet-wide) {
    width: 30ch;
  }

  &:focus{
    box-shadow: inset 0 0 0 4px black;
    outline: 3px solid color(msd-focus);
    outline-offset: -2px;
  }
}

.msd-search__input {
  @include input-placeholder {
    color: color(govnz-mid-grey);
    font-size: 1.1rem;
  }
}

.msd-search__button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: color(govnz-black);
  cursor: pointer;
  display: flex;
  margin: 0;
  line-height: 1.5;
  padding: $sm;

  &:focus{
    box-shadow: inset 0 0 0 4px black;
    outline: 3px solid color(msd-focus);
    outline-offset: -2px;
  }
  
}



//Search results
.search-title {
  margin-bottom: 1.5rem;
}

.msd-search__results-count {
  @include font-size(18px);
  margin-top: $md;
  margin-bottom: $md;

  @include mq($from: tablet-wide) {
    margin-top: $mp;
    margin-bottom: $mp;
  }

}

.msd-search__result {
  line-height: initial;
  margin: initial;
  padding: initial;
}

.msd-search__result--item {
  list-style: none;
  margin-bottom: $mp;
  border-top: 1px solid color(govnz-mid-grey);
  padding-top: $mp;
}     

.msd-search__result--title {
  font-weight: bold;
  margin-bottom: $sm;
  padding: 0;
}

.msd-search__inline-details {
  color: color(govnz-mid-grey);
  @include font-size(16px);
  margin-bottom: $sm;
}

.msd-search-listing__result-summary {
  font-size: 1rem;
  margin-bottom: 0;
}



