/* ==========================================================================
   #Box
   ========================================================================== */

/*
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. Apply the `.msd-box` class to naturally-inline elements.
 */



 .msd-box {
  display: block; /* [1] */
  padding: $md;

  > :last-child {
    margin-bottom: 0;
  }

}





// Size variants
.msd-box--flush {
  padding: 0;
}

.msd-box--sm {
  padding: $xs;
}

.msd-box--md {
  padding: $sm;
}

.msd-box--lg {
  padding: $lg;
}

.msd-box--xl {
  padding: $xl;
}