/* ==========================================================================
   #Container
   ========================================================================== */

/**
 * Page-level constraining and container elements.
 */

 $msd-container-width:   1100px !default;
 $msd-container-padding: $msd-spacing-unit !default;

 @if (type-of($msd-container-width) != number) {
   @error "`#{$msd-container-width}` needs to be a number.";
 }
 
 .msd-container{
   margin-right: $md;
   margin-left: $md;
   transition: $msd-transition;

   @include mq($from: tablet) {
    margin-right: $lg;
    margin-left: $lg;
    max-width: $msd-container-width;
   }

   @include mq($from: desktop) {
     margin-right: auto;
     margin-left:  auto;
   }

 }
 



