/* ==========================================================================
   #List
   ========================================================================== */

/*
 * List-like with the addition of styles and indentation.
 * 
 */


 .msd-list {
   font-size: 1rem;
   line-height: 1.5;
   list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
   margin: $sm 0;
   padding-left: 0;

   @include mq($from: tablet) {
     margin-bottom: $lg;
   }

   > p {
      margin-bottom: $xs;
   }

 }

 /*
  * Reference: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
  *
  */
 .msd-list__section {
   font-size: 1.125rem;
   margin-top: $xs;
   margin-bottom: $lg;
   margin-left: $xs;
   padding-left: $sm;

   &:last-of-type {
     margin-bottom: 0;
   }

 }
 
 .msd-list__section--square {
   list-style-type: square;
 }

  .msd-list--bullet {
    list-style-type: disc;
  }

  .msd-list--number{
    list-style-type: decimal;
  }

  .msd-list__sub-list {
    margin-top: $md;
    margin-left: 0;
  }

  .msd-list__section--item {
    line-height: 1.5;
    margin: $xs $xs $md $null;
  }



