
/* ========================================================================
   #Heading styles
   ======================================================================== */


.msd-heading {
    color: color(msd-brand);
    display: inline-flex;
    @include font(primary, bold);
    line-height: 1.5;
    margin-top: $md;
    margin-bottom: $sm;
}

.msd-heading-underline {
    color: color(msd-brand);
    display: inline-flex;
    @include font(fira, bold);
    line-height: 1.5;
    margin-top: $md;
    margin-bottom: $lg;
    position: relative;

      &:after{
        content: '';
        position: absolute;
        bottom: -1.25rem;
        left: 0;
        height: $xs;
        width: 50%;
        background-color: color(msd-brand);
        margin-bottom: $sm;
      }
}


.msd-sub-heading {
  color: color(govnz-slate);
  display: inline-flex;
  @include font(primary, bold);
  line-height: 1.5;
}



