/* ==========================================================================
   #Page
   ========================================================================== */

/**
 * [1] Set the default `font-size` and `line-height` for the entire project,
 * sourced from the default variables. The `font-size` is calculated to exist
 * in %, the `line-height` is calculated to exist unitlessly.
 *
 * [2] Force scrollbars to always be visible to prevent ‘jumps’ when
 * navigating between pages that do/don't have enough content to produce
 * scrollbars naturally.
 * 
 * [3] Ensure the page always fills at least the entire height of the viewport
 *
 * [4] Prevent certain mobile browsers from automatically zooming fonts.
 *
 * [5] Use iOS hardware acceleration for native scrolling
 *
 * [6] For removing the highlight over a link while it's being tapped
 *
 * [7] Word spacing minimum .16 times the font size to meet accessiblity standards
 *
 */

 html {
  font-size: ($msd-font-size / 1rem) * 100%; /* [1] */
  line-height: $msd-line-height / $msd-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100vh; /* [3] */
  -ms-text-size-adjust: 100%; /* [4] */
  text-size-adjust: 100%; /* [4] */
  -webkit-overflow-scrolling: touch; /* [5] */
  -webkit-tap-highlight-color: transparent; /* [6] */
  word-spacing: ($msd-font-size / 1rem) * .16rem; /* [7] */
}







